<header class="header">
  <section class="header-title">
    <h1 class="header-title">
      Magic The Gathering: <span class="header-title-span"> Deck Builder</span>
    </h1>
  </section>
  <nav class="header__navbar">
    <a routerLink="" class="header__menu-button">
      <img
        class="header__menu-icon"
        src="../../../../assets/icons/homeIcon.svg"
        alt=""
      />
      <span class="header__menu-button-span">Home</span>
    </a>
    <a routerLink="/login" class="header__menu-button">
      <img
        class="header__menu-icon"
        src="../../../../assets/icons/loginIcon.svg"
        alt=""
      />
      <span class="header__menu-button-span">Login</span>
    </a>
    <a routerLink="/register" class="header__menu-button">
      <img
        class="header__menu-icon"
        src="../../../../assets/icons/registerIcon.svg"
        alt=""
      />
      <span class="header__menu-button-span">Register</span>
    </a>
    <a routerLink="/catalog" class="header__menu-button">
      <img
        class="header__menu-icon"
        src="../../../../assets/icons/catalogIcon.svg"
        alt=""
      />
      <span class="header__menu-button-span">Catalog</span>
    </a>
  </nav>
</header>
