.card-image {
  width: 300px;
}
.catalog {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.catalog-container {
  padding-top: 2rem;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
