@if(isLoading){

<h1>LOADING...</h1>

}@else {

<main class="catalog__container">
  <h1 class="catalog-title">CATALOG:</h1>
  <select
    class="catalog-select"
    name="type filter"
    (change)="onTypeChange($event)"
    default="ALL"
  >
    <option
      class="catalog-option"
      *ngFor="let type of typeSelector"
      value="{{ type.value }}"
    >
      {{ type.text }}
    </option>
  </select>

  <section class="catalog__cardContainer">
    @for (card of filteredcardList; track card.id) { @if (card.border_color ===
    'black') {
    <article class="catalog__card">
      <img class="card-image" [src]="card.image_uris.normal" alt="" />
    </article>
    } }
  </section>
</main>
}
