<main class="signin__container">
  <h1 class="signin-title">Create a new account:</h1>
  <form
    class="signin__form"
    [formGroup]="signinForm"
    (submit)="OnGetSubmitForm()"
  >
    <input
      class="signin__Form-input"
      id="username"
      type="text"
      placeholder="Username:"
      formControlName="username"
    />
    <div formGroupName="credentials">
      <input
        class="signin__Form-input"
        type="email"
        placeholder="Email:"
        formControlName="email"
        required
        email
      />
      <input
        class="signin__Form-input"
        type="text"
        placeholder="Password:"
        formControlName="password"
        required
      />
      <input
        class="signin__Form-input"
        type="text"
        placeholder="Confirm password:"
        formControlName="confirmPassword"
        required
      />
    </div>
  </form>
</main>
