.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(
    0deg,
    rgba(255, 107, 107, 1) 0%,
    rgba(74, 84, 94, 1) 36%,
    rgba(24, 78, 91, 1) 70%
  );
}
.outlet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
