.main {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(
    0deg,
    rgba(255, 107, 107, 1) 0%,
    rgba(24, 78, 91, 1) 81%
  );
}
